[submodule "examples/openai-openapi"]
	path = examples/openai-openapi
	url = https://github.com/openai/openai-openapi.git
[submodule "examples/github-openapi"]
	path = examples/github-openapi
	url = https://github.com/github/rest-api-description.git
